{% extends "crm/base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
    <h1>Product List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
